@font-face {
    font-family: Symbola;
    src: url("fonts/Symbola.ttf") format("truetype");


  
  }
body{
    font-family: 'Symbola',sans-serif;
    font-size: 1em;

}
#name{
    font-size: 1em;
}

#game{
    font-size: 6em;
}