<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <h1>please add your own cat or car to the page</h1>
    <form action="" method="POST">
        <input type="text" name="itemname">
        <input type="text" name="filename">
        <input type="submit" name="submit">
    </form>
</body>
</html>